$color-principal: rgb(233, 209, 178);
$color-letra: rgb(253, 253, 253);
$tamaño-titulo: 70px;
$tamaño-subtitulo: 40px;
$tamaño-texto: 20px;
$fuente-titulo: 'Comic Neue', cursive;
$fuente-subtitulo: 'Comic Neue', cursive;
$fuente-texto: 'Roboto', sans-serif;
$fuente-pie: 'Comic Neue', cursive;