$color-principal: rgb(233, 209, 178);
$color-letra: rgb(255, 255, 255);
$tamaño-titulo: 90px;
$tamaño-subtitulo: 30px;
$tamaño-texto: 20px;
$fuente-titulo: 'Comic Neue', cursive;
$fuente-subtitulo: 'Comic Neue', cursive;
$fuente-texto: 'Roboto', sans-serif;